.right_side .main_content {
    padding-left: 48px;
    padding-top: 60px;
    width: 835px;
}
.right_side .main_content .header {
    margin-top: 112px;
}
.right_side .main_content .header h2{
    font-size: 32px;
    line-height: 48px;
    color: var(--color-black);
}
.right_side .main_content .header h4 {
    font-size: 14px;
    line-height: 21px;
    color: var(--color-gray);
    text-transform: capitalize;
}
.right_side .main_content .header h2,
.right_side .main_content .header h4 {
    font-style: normal;
    font-weight: 600;
}
/* form */
.field_group {
    position: relative;
    padding-bottom: 40px;
}
.field_label,
.select_label {
    color: var(--color-black);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 16px;
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -1px 0px var(--color-black-2);
}
.field_label {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 46px;
    left: 0;
    top: 0;
    pointer-events: none;
}

.field_label::after{
    content: attr(data-icon);
    color: var(--color-red);
}
.field_label::before{
    content: attr(data-placeholder);
}
.register_form > div {
    width: 100%;
}
/* .form_block form > div .success {
    display: none;
    position: absolute;
    right: 13px;
    top: 13px;
} */
.inputs_group {
    margin-top: 85px;
}
.inputs_group input {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    height: 46px;
    border: none;
    box-shadow: inset 0px -1px 0px var(--color-black-2);
    border-radius: 4px;
    outline: none;
}
.inputs_group input[name=date] {
    padding-right: 40px;
}
.inputs_group input:hover,
.inputs_group input:hover + .field_label,
.select_label:hover  {
    background-color: var(--color-white-2);
}

.inputs_group input:active,
.select_label:active {
    background-color: var(--color-white-3);
}
/* custom select */
.select_label {
    display: block;
    padding: 10px 15px;
    width: 380px;
    cursor: pointer;
}
.select_label_holder {
    position: relative;
}
.flake {
    color: var(--color-red);
    padding-left: 5px;
    pointer-events: none;
}
.select_label:first-child {
    margin-right: 25px;
}
.select_label_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}
.select_group {
    position: relative;
    margin-top: 95px;
    font-family: var(--font-open-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.select_holder {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
.list_box {
    position: absolute;
    margin-block: 5px;
    list-style-type: none;
    width: 391px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-1);
    box-shadow: 0px 2px 4px var(--color-black-2);
    border-radius: 4px;
    
}
.list_box li:hover {
    background-color: var(--color-white-2);
}
.list_box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;
    width: 100%;
    padding-inline: 20px;
    cursor: pointer;
}
.list_box span {
    pointer-events: none;
}
.list_box li input {
    display: none;
}
.list_box li img {
    pointer-events: none;
    width: 100px;
    height: 72px;
    border-radius: 4px;
    object-fit: cover;
}
.list_box_level {
    padding-block: 20px;
}
.list_box_character {
    padding-top: 40px;
    padding-bottom: 35px;
}
.list_box_character li {
    padding-left: 28px;
    padding-right: 20px;
}
.radio_label {
    display: block;
    color: var(--color-black);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.radio_container input[type="radio"] {
    width: 20px;
    height: 20px;
}
.radio_container label {
    padding-left: 10px;
    padding-right: 20px;
}
.inputError {
    background-color: var(--color-red-3) !important;
    color: var(--color-red-2);
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change_step{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 13px 24px;
    height: 53px;
    text-decoration: none;
}
.prev_btn {
    background-color: transparent;
    color: var(--color-black);
    width: 93px;
    border: 1px solid var(--color-black);
    cursor: pointer;
}
.prev_btn:hover {
    border-color: var(--color-pink-1);
    background-color: var(--color-gray-1);
}
.next_btn,
.done_btn{
    gap: 12px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    cursor: pointer;
}
.next_btn:hover,
.done_btn:hover {
    box-shadow: 0px 1px 4px var(--color-pink), 0px 0px 0px 3px var(--color-pink);
}
